<!DOCTYPE html>
<body lang="en">
{% load static %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}

    <meta charset="UTF-8">
    <title>home map</title>

    <style type="text/css">
        #map_name {width: 50%; height:700px;}
    </style>
    <link href="{% static 'reporter/dist/leaflet.groupedlayercontrol.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'reporter/js/leaflet.ajax.js' %}" ></script>
    <script type="text/javascript" src="{% static 'reporter/dist/leaflet.groupedlayercontrol.min.js' %}" ></script>
</head>

<body>
<h3>map1</h3>
<br>
<script type="text/javascript">
    function our_layers(map, options){
        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}{y}{x}.png');

        var myStyle = {
            "color": "#F9FF33",
            "weight": 1,
            "opacity": 0.65
        };

        var datasets=new L.GeoJSON.AJAX("{% url 'parks' %}",{
            style:myStyle,
            onEachFeature: function(feature, layer){
                layer.bindPopup(feature.properties.park_heb_n.toString())}

        });

        var myStyle2 = {
            "color": "#4DFF33",
            "weight": 3,
            "opacity": 0.50
        };
        var datasets2= new L.GeoJSON.AJAX("{% url 'ratag_zones' %}",{
            style:myStyle2,
            onEachFeature: function(feature, layer){
                layer.bindPopup(feature.properties.mahoz.toString())}
        });

        datasets.addTo(map);
        datasets2.addTo(map);

        var baseLayers = {
            "OSM":osm
            }
        var groupedOverlays = {
        "Layers": {
            "Parks": datasets,
            "Mahozot": datasets2
            },
        };
        L.control.groupedLayers(baseLayers, groupedOverlays, options).addTo(map);



    }

</script>

{% leaflet_map "map_name" callback="window.our_layers" %}


            <form method="post">{% csrf_token %}
                {{ form.as_p }}
            <br>
            </form>

</body>
</html>

</html>